<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>WOW! PROGRAMMING!</title>
    <%= stylesheet_link_tag "welcome" %>
  </head>
  
  <body onclick="changeWelcomeText()">
  	<h1 id="welcome">Welcome to a programming tutorial!</h1>
  </body>
</html>
